<div class="events">
	<div class="container">
		<h1>Events</h1>

		<div class="container sideBar">
			<ul class="eventPills">
				<% for(let i=0; i<events.length; i++){ %>
				<li class="names" onclick="myFunction<%=i+1%>()" style="background-color:rgb(0, <%= 95+20*i%> , <%=107+20*i%>)">
					<div class="eventName">
						<%= events[i].eventName %>
					</div>
				</li>
				<% }; %>
			</ul>
		</div>

		<!--
		Overview
		Structure
		Eligibility
		Rules and Regulations
		Prizes & Awards
	-->



		<!-- Some events have time, Add them -->
		<% for(let i=0; i<events.length; i++){ %>
		<div class="container eventDiv" id="event<%=i+1%>">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="eventName">
							<%=events[i].eventName%>
						</p>
						<p class="eventDate">
							<%=events[i].eventDate%>
							<br>
							<%=events[i].eventLocation%><br>
						</p>
						<p>
							<%=events[i].eventDesc%>
						</p>
					</div>

					<!-- <div class="col-lg-5 poster">
						<img src="<%=events[i].eventImgSrc%>" class="img-thumbnail"/>
					</div> -->
				</div>
				<div class="row">
					<% if(events[i].registrationOpen){ %>
						<div class="col-md-12">
							<button class="btn btn-success" onclick="applyEvent('<%=events[i]._id%>')">Apply Now</button>	
						</div>
						<div class="col-md-12 mt-4" id="applyAlert<%=events[i]._id%>"></div>
					<%} else {%>
						<div class="col-md-12">
							<button class="btn btn-success disabled">Comming Soon</button>	
						</div>
					<%}%>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

<script>
	function applyEvent(eventID){
		var applyAlert = document.getElementById("applyAlert"+eventID);
		$.post("/register/event/"+eventID,function(data){
			if(/ERROR/i.exec(data)){
				console.log(data);
				data = data.replace(/ERROR/i, '');
				var htmlToInsert=`
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
					  <strong>Error!</strong>` + data + `!
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				`;
				applyAlert.innerHTML = htmlToInsert;
			}
			else{
				var htmlToInsert=`
				<div class="alert alert-success alert-dismissible fade show" role="alert">
				  You have successfully registered for the event!
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
				`;
				applyAlert.innerHTML=htmlToInsert;
			}
		});
	}
</script>

<script>
	// TODO: Make this also change with no of events
	// TODO: Make a function which hides every event
	myFunction1();

	function myFunction1() {
		document.getElementById("event1").style.display = "block";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction2() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "block";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction3() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "block";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction4() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "block";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction5() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "block";
	}
</script>