<div class="events">
	<div class="container">
		<h1>Events</h1>

		<div class="container sideBar">
			<ul class="eventPills">
				<% for(let i=0; i<events.length; i++){ %>
				<li class="names" onclick="myFunction<%=i+1%>()" style="background-color:rgb(0, <%= 95+20*i%> , <%=107+20*i%>)">
					<div class="eventName">
						<%= events[i].eventName %>
					</div>
				</li>
				<% }; %>
			</ul>
		</div>

		<!--
		Overview
		Structure
		Eligibility
		Rules and Regulations
		Prizes & Awards
	-->



		<!-- Some events have time, Add them -->
		<% for(let i=0; i<events.length; i++){ %>
		<div class="container eventDiv" id="event<%=i+1%>">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="eventName">
							<%=events[i].eventName%>
						</p>
						<p class="eventDate">
							<%=events[i].eventDate%>
							<br>
							<%=events[i].eventLocation%><br>
						</p>
						<p>
							<%=events[i].eventDesc%>
						</p>
					</div>

					<!-- <div class="col-lg-5 poster">
						<img src="<%=events[i].eventImgSrc%>" class="img-thumbnail"/>
					</div> -->
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>



<script>
	// TODO: Make this also change with no of events
	// TODO: Make a function which hides every event
	myFunction1();

	function myFunction1() {
		document.getElementById("event1").style.display = "block";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction2() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "block";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction3() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "block";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction4() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "block";
		document.getElementById("event5").style.display = "none";
	}

	function myFunction5() {
		document.getElementById("event1").style.display = "none";
		document.getElementById("event2").style.display = "none";
		document.getElementById("event3").style.display = "none";
		document.getElementById("event4").style.display = "none";
		document.getElementById("event5").style.display = "block";
	}
</script>