<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Renaissance | Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/admin_style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/reg_style.css" />


  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/lib/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="path/to/jquery.js"></script>
<script src="path/to/popper.js"></script>
<script src="path/to/bootstrap.js"></script>
<script src="path/to/bootstrap-confirmation.js"></script>
</head>

<body>

  <% include partials/navbar %>

  <div id="demo">
    <div class="container">
      <% if(messages) {%>
      <div class="container">
        <div class="alert alert-danger" role="alert">
          <strong>Error: </strong>
          <%=messages%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
      <%}%>
      <h1>Admin Page</h1>


      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user-table" role="tab" aria-controls="user-table"
            aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="add-user-table" data-toggle="tab" href="#addUser" role="tab" aria-controls="addUser"
            aria-selected="false">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Teams</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="user-table" role="tabpanel" aria-labelledby="user-tab">

          <table id="table" class="table table-hover table-mc-light-blue">

            <thead>
              <tr>
                <th>Sno.</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Contact</th>
                <th>#</th>

              </tr>
            </thead>
            <tbody>
              <% var k=0;%>
              <% for(let i of user){ %>
            <% k=k+1;%>

              <tr>

                <td data-title="ID">
                  <%= k%>
                </td>

                <td data-title="Name">
                  <%= i.firstName %>
                  <%= i.lastName  %>
                </td>
                <td data-title="Name">
                  <%= i.username %>

                </td>
                <td data-title="Name">
                  <%= i.email %>

                </td>

                <td data-title="Status" class="username">
                  <%= i.contact %>
                </td>
                <% if(i.isAdmin==false) { %>
<<<<<<< HEAD
                  <td>

                    <a onclick="return confirm_click()" href="/admin/delete/<%= i._id %>">Delete</a></td>
                <% } else { %>
                  <td>Admin
                  </td>
=======
                <td><a href="/admin/delete/<%= i._id %>">Delete</td>
                <% } else { %>
                <td>Admin</td>
>>>>>>> origin/master
                <% } %>
              </tr>
              <% }; %>
              <%  k=0;%>
            </tbody>
          </table>

        </div>

        <div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="add-user-table">
          <form method="POST" class="mt-4" action="/user/register">
            <div class="col">
              <div class="minput">
                <input type="text" id="fname" dir="auto" name="firstName" required>
                <span class="bar"></span>
                <label>First Name</label>
                <div id="error-fname"></div>
              </div>

              <div class="minput">
                <input type="text" id="lname" dir="auto" name="lastName" required>
                <span class="bar"></span>
                <label>Last Name</label>
                <div id="error-lname"></div>
              </div>

              <!-- We are not storing age into database yet -->
              <div class="minput">
                <input type="number" id="age" dir="auto" required>
                <span class="bar"></span>
                <label>Age</label>
                <div id="error-age"></div>
              </div>
              <!-- We are not storing gender into database yet -->
              <div class="control-group">
                <span class="sex">Sex :</span>
                <label class="control control--radio">Male
                  <input type="radio" name="radio" id="male" />
                  <div class="control__indicator"></div>
                </label>
                <label class="control control--radio">Female
                  <input type="radio" name="radio" id="femelle" />
                  <div class="control__indicator"></div>
                </label>
              </div>
              <div class="minput">
                <input type="text" id="phno" dir="auto" name="phone" required>
                <span class="bar"></span>
                <label>Phone number</label>
                <div id="error-phno"></div>
              </div>
              <!-- <div class="minput">
                  <div class="select">
                    <select id="pays">
                      <option value="">-- Department --</option>
                      <option value="finance">Finance</option>
                      <option value="webdev">WebDev</option>
                      <option value="sponsorship">Sponsorship</option>
                    </select>
                    <div class="select__arrow"></div>
                  </div>
                </div> -->
            </div>

            <div class="col">
              <div class="minput">
                <input type="text" id="pseudo" dir="auto" name="username" required>

                <span class="bar"></span>
                <label>Username</label>
                <div id="error-pseudo"></div>
              </div>

              <div class="minput">
                <input type="email" id="email" dir="ltr" class="" name="email" required>
                <span class="bar"></span>
                <label>Email</label>
                <div id="error-email"></div>
              </div>

              <div class="minput">
                <input type="text" id="password" dir="auto" value="" onclick="regenPass()" required readonly>
                <span class="bar"></span>
                <label>Password (Click to Regenerate)</label>
                <div id="error-pass"></div>
              </div>

              <div class="minput">
                <input type="text" id="passwordConf" name="password" required>
                <span class="bar"></span>
                <label>Retype Password</label>
                <div id="error-conf"></div>
              </div>
              <div class="control-group">

                <label class="control control--checkbox">I agree to all terms and conditions
                  <input type="checkbox" checked />
                  <div class="control__indicator"></div>
                </label>
              </div>

              <div class="minput">
                <!-- <span id="valid" style="margin-bottom: 5px;"></span> -->

                <input type="submit" id="send" value="Submit" disabled="true" style="padding:5px;padding-top:7px;">
              </div>
            </div>

          </form>

          <script src="/js/reg_script.js"></script>
        </div>

<!--Teams-->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><h1>Teams</h1>
          <table id="table" class="table table-hover table-mc-light-blue">

            <thead>
              <tr>
                <th>Sno.</th>
                <th>Team Members </th>
                <th>Team leader</th>

                <th>#</th>

              </tr>
            </thead>
            <tbody>

                <% var k1=0;%>
                <% for(var i=0; i < team.length ; i++) { %>
                  <% if(team[i].teamMembers!=null) { %>

<tr>
    <td><%= k1 %></td>
            <td>

              <% for(var k3=0;k3< team[i].teamMembers.length;k3++){  %>
                <% if(team[i].teamMembers[k3].teamId!=null) { %>
                <%= team[i].teamMembers[k3].username  %>
                <% } %>
                <% } %>


            </td>
                <td>

                    <% for(var j=k1; j < k1+1 ; j++) { %>
                      <% if(leader[j].teamLeader!=null && leader[j].teamLeader.teamId!=null) { %>
<%= leader[j].teamLeader.username %>
<% } %>
<% } %>
                </td>

                    <td>
                        <% for(var j=k1; j < k1+1 ; j++) { %>
                          <% if(leader[j].teamLeader!=null && leader[j].teamLeader.teamId!=null) { %>

                            <a href="/admin/deleteleader/<%= leader[j].teamLeader.teamId %>">Delete</a>

    <% } %>
    <% } %>

                     </td>


</tr>
<% k1=k1+1;%>
<% } %>
              <% } %>




            </tbody>


        </div>
      </div>




    </div>
  </div>
  <script>
    function confirm_click() {
    var txt;
    var r = confirm("Want to delete user?");
    return r;

}

    $('body').delegate('.remove', 'click', function () {

      $(this).parent().parent().remove();
      /*$.ajax({
                  url: 'admin.js',
                  type: 'GET',
                  data: {var1: ok},
                  success: function(data) {
                      console.log("success");
                  }});*/

    });
    // Genderate a random password
    function regenPass() {
      document.getElementById('password').value = Math.random().toString(36).substring(2, 6) + Math.random().toString(36).substring(2, 6);
    }


    regenPass();
    up(1, 'password');
    tabBooleans[7] = true;

  </script>
</body>

</html>
