<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/admin_style.css" />



  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/lib/jquery.min.js"></script>
  <script src="/js/bootstrap.css"></script>
</head>

<body>

  <% include partials/navbar %>
  <div id="demo">
    <div class="container">
      <h1>Admin Page</h1>


      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <table id="table" class="table table-hover table-mc-light-blue">

            <thead>
              <tr>
                <th>Sno.</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Contact</th>
<th>#</th>

              </tr>
            </thead>
            <tbody>
              <% var k=0;%>
              <% for(let i of events1){ %>
              <% k=k+1;%>
              <tr>
                <td data-title="ID">
                  <%= k %>
                </td>
                <td data-title="Name">
                  <%= i.firstname %>
                  <%= i.lastName  %>
                </td>
                <td data-title="Name">
                  <%= i.email %>

                </td>
                <td data-title="Name">
                  <%= i.contact %>

                </td>

                <td data-title="Status" class="username">
                  <%= i.username %>
                </td>

                  <td><a href="/admin/delete/<%= i._id %>">Delete</td>


              </tr>
              <% }; %>
              <%  k=0;%>
            </tbody>
          </table>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>




    </div>
  </div>
  <script>
 $('body').delegate('.remove','click',function()
{

$(this).parent().parent().remove();
/*$.ajax({
            url: 'admin.js',
            type: 'GET',
            data: {var1: ok},
            success: function(data) {
                console.log("success");
            }});*/

});



  </script>
</body>

</html>
