<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile |
		<%= currentUser.username %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <script src="bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="bootstrap.css" /> -->
	<script src="admin_script.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/lib/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/profile_style_new.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/summary_style.css" />
</head>

<body>
	<!-- Navbar -->
	<% include partials/navbar %>
	<div class="emp-profile">
		<form method="post">

			<div class="contianer">

				<div class="row">
					<!-- Left Column -->
					<div class="col-md-4">
						<!-- Profile Photo -->
						<div class="row">
							<div class="profile-img mx-auto">
								<img src="/images/p1.png" />
								<div class="file btn btn-lg ">

									<input type="file" name="file" />
								</div>
							</div>
						</div>
						<!-- User Details -->
						<div class="row">
							<div class="profile-work col-sm-12">
								<div class="text-center">

									<p>
										<%= currentUser.username %>
									</p>
									<a href="">
										Name:
										<%= currentUser.firstName.charAt(0).toUpperCase() + currentUser.firstName.slice(1) %>
										<%= currentUser.lastName.charAt(0).toUpperCase() + currentUser.lastName.slice(1) %>
									</a><br />
									<a href="">Phone:
										<%= currentUser.contact %></a><br />
									<a href="">Email:
										<%= currentUser.email %></a><br />
									<button type="submit" class="profile-edit-btn mt-3" name="btnAddMore">Edit Profile</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Right Column -->

					<div class="col-md-8">
						<!-- Tabs -->
						<div class="row">
							<div class="col-md-12">

								<ul class="nav nav-tabs" id="myTab" role="tablist">

									<li class="nav-item">
										<a class="nav-link active" id="competition-tab" data-toggle="tab" href="#competition" role="tab"
										 aria-controls="competition" aria-selected="true">Competition</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events"
										 aria-selected="true">Events</a>
									</li>

								</ul>


								<!-- Tab Content -->
								<div class="tab-content" id="myTabContent">

									<div class="tab-pane fade active show" id="competition" role="tabpanel" aria-labelledby="competition-tab">
										<!-- Description of Competition -->
										<h3 class="competition-name">
											<%= competition.name %>
										</h3>
										<p>
											<%= competition.description %>
										</p>

										<% if(!competition.userRegistered){ %>
										<h3>
											<button type="button" class="btn btn-primary btn" onclick="registerForCompetition('<%=competition._id%>')" id="registerButton">Register</button>
											your Startup!
										</h3>
										<% }else{ %>
										<% include summary%>
										<% }; %>

									</div>

									<div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
										<% if(currentUser.events.length>0){ %>
											<table class="table">
												<thead>
													<tr>
														<td>Name</td>
														<td>Date</td>
														<td>Payment Status</td>
													</tr>
												</thead>
													<% currentUser.events.forEach(function(event){ %>
													<tr>
														<td>event</td>
														<td>event</td>
														<td>event</td>
													</tr>
													<% }); %>
											</table>
										<% } else { %>
											<h4 class="text-center text-muted">You haven't registered for any events yet!</h4>
										<% }; %>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>



			</div>


		</form>
	</div>

	<!-- TODO: Move script to a file -->
	<script>
		function registerForCompetition(id) {
			$.ajax({
				type: "put",
				url: "/register/competition/" + id,
				success: function (data) {
					if (/error/i.exec(data))
						alert(data);
					else
						window.location.reload();
				}
			});
		}
	</script>
</body>

</html>