<html>

<head>
	<title>Profile | <%= currentUser.username %></title>
	
	
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/profile_style.css">
	<script src="/lib/jquery.min.js"></script>
</head>

<body>
	<% include partials/navbar %>
	<div class="big">
		<div class="container">
			<div class="row">
				<div class="col-md-12 userProfileHeading">
					User Profile
				</div>
				<div class="col-md-3 sidebar">
					<ul>
						<li class="li1 options" onclick="myFunction1()">Profile</li>
						<li class="options" onclick="myFunction2()">Events</li>
						<!-- <li class="options" onclick="myFunction3()">Payments</li> -->
						<!-- <li class="options" onclick="myFunction4()">Certificates</li> -->
						<!-- <li class="options" onclick="myFunction5()">Campus<br>Ambassador</li> -->
					</ul>
				</div>
				<div class="col-md-9" id="default">
					USERNAME
				</div>


				<div class="col-md-9" id="profile">
					<div class="row">
						<div class="col-md-6">
							<p class="content">
								<span class="contentLabel">Name:</span> <%= user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1) %> <%= user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1) %><br>
								<!-- <span class="contentLabel">College:</span> <%= user.college %><br> -->
								<span class="contentLabel">Events Registered:</span> <%= user.events.length %><br>
								<!-- No:of workshops attended:XXXXX<br> -->
								<span class="contentLabel">Phone: </span><%= user.contact %><br>
								<span class="contentLabel">Email:</span> <%= user.email %><br>
								<a class="btn btn-info mt-4" href="/executiveSummary">Presente Vous Executive Summary</a>
							</p>
							
						</div>
						

						
						<!-- <div class="col-md-6">
							<img src="profile.jpg"><br>
							<a class="link_profile_password" href="****">Change Password</a>
							<a class="link_profile_edit" href="****">Edit Profile</a>
						</div> -->
					</div>
				</div>
				<div class="col-md-9" id="events">
					<h1 class="text-dark">Events Registered</h1>
					<table class="table table-borderless table-hover table-info mt-4">
						<thead>
							<tr>
								<td>Event Name</td>
								<td>Event Location</td>
								<td>Event Date</td>
							</tr>
						</thead>
						<tbody>
							<% user.events.forEach(function(event){ %>
								<tr>
									<td class="text-black"><%= event.eventName %></td>
									<td class="text-black"><%= event.eventLocation %></td>
									<td class="text-black"><%= event.eventDate %></td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
				<!-- <div class="col-md-9" id="payments">
					<table class="table table-responsive table-bordered">
						<tr>
							<td class="freeh" align=center>Event Name
							<td class="freeh" align=center>Payment Status
							<td class="freeh" align=center>Payment Receipt Link
						</tr>
						<tr>
							<td class="free" align=center>Event One
							<td class="free" align=center>Payment Status
							<td class="free" align=center><a href="*****" class="link_payment">Click Here To Pay
						</tr>
						<tr>
							<td class="free" align=center>Event Two
							<td class="free" align=center>Payment Status
							<td class="free" align=center><a href="*****" class="link_payment">Click Here To Pay
						</tr>
						<tr>
							<td class="free" align=center>Event Three
							<td class="free" align=center>Payment Status
							<td class="free" align=center><a href="*****" class="link_payment">Click Here To Pay
						</tr>
					</table>
				</div> -->
				<!-- <div class="col-md-9" id="certificates">
					certificates
				</div> -->
				<!-- <div class="col-md-9" id="ambassdor">
					ambassdor
				</div> -->
			</div>
		</div>
	</div>


	
	<script>
		myFunction1();
		function myFunction1() {
			document.getElementById("default").style.display = "none";
			document.getElementById("profile").style.display = "block";
			document.getElementById("events").style.display = "none";
			document.getElementById("payments").style.display = "none";
			document.getElementById("certificates").style.display = "none";
			document.getElementById("ambassdor").style.display = "none";
		}

		function myFunction2() {
			document.getElementById("default").style.display = "none";
			document.getElementById("profile").style.display = "none";
			document.getElementById("events").style.display = "block";
			document.getElementById("payments").style.display = "none";
			document.getElementById("certificates").style.display = "none";
			document.getElementById("ambassdor").style.display = "none";
		}

		function myFunction3() {
			document.getElementById("default").style.display = "none";
			document.getElementById("profile").style.display = "none";
			document.getElementById("events").style.display = "none";
			document.getElementById("payments").style.display = "block";
			document.getElementById("certificates").style.display = "none";
			document.getElementById("ambassdor").style.display = "none";
		}

		function myFunction4() {
			document.getElementById("default").style.display = "none";
			document.getElementById("profile").style.display = "none";
			document.getElementById("events").style.display = "none";
			document.getElementById("payments").style.display = "none";
			document.getElementById("certificates").style.display = "block";
			document.getElementById("ambassdor").style.display = "none";
		}

		function myFunction5() {
			document.getElementById("default").style.display = "none";
			document.getElementById("profile").style.display = "none";
			document.getElementById("events").style.display = "none";
			document.getElementById("payments").style.display = "none";
			document.getElementById("certificates").style.display = "none";
			document.getElementById("ambassdor").style.display = "block";
		}
	</script>
</body>

</html>