<div class="container">
  <p>
    <h1 class="nametitle"><strong>BUISNESS STARTUPS
      </strong></h1>
    <h3 class="nametitle3"><strong>IDEATION PHASE
      </strong></h3>
  </p>
  <div class="row">
    <div class="col-12">
      <div>
        <div class="form-group">
          <label for="productname"><strong>STARTUP/PRODUCT NAME</strong></label>
          <textarea class="form-control" name="name" id="productname" rows="3"><%=summary.name%></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><strong>HOW WOULD YOU LIKE TO CATEGORIZE YOUR IDEA ? WHAT DOES THE
              COMPANY DO ?</strong>[100 words]</label>
          <textarea class="form-control" id="idea" name="use" rows="3"><%=summary.use%></textarea>
        </div>
        <div class="form-group">
          <p><strong>WHAT IS THE TYPE OF MARKET SEGMENTATION USED?</strong></p>
          <div class="form-control form-check" id="segmentation">

            <div class="form-check">

              <input type="checkbox" class="form-control-input" id="dsegmentation" value="demographic">
              <label class="form-control-label" for="dsegmentation">Demographic Segmentation</label>

            </div>
            <div class="form-check">

              <input type="checkbox" class="form-control-input" id="bsegmentation" value="behavioral">
              <label class="form-control-label" for="bsegmentation">Behavioral Segmentation</label>

            </div>
            <div class="form-check">

              <input type="checkbox" class="form-control-input" id="psegmentation" value="phychographic">
              <label class="form-control-label" for="psegmentation">Psychographic Segmentation</label>
            </div>
            <div class="form-check">

              <input type="checkbox" class="form-control-input" id="gsegmentation" value="geographic">
              <label class="form-control-label" for="gsegmentation">Geographic Segmentation</label>
            </div>
          </div>

          <div class="form-group">
            <label for="mcompetition"><strong>DESCRIBE YOUR MARKET COMPETITION</strong></label>
            <textarea class="form-control" name="competition" id="mcompetition" rows="3" placeholder="what is the size of the market,type of marketchosen and what is your startups' potential market share ?"><%=summary.competition%></textarea>
          </div>
          <div class="form-group">
            <label for="fmodel"><strong>GIVE A FINANCIAL MODEL DESCRIPTION OF YOUR STARTUP</strong></label>
            <textarea class="form-control" name="financeModel" id="fmodel" rows="3" placeholder="Describe your initial investment requirements,projected revenue,funding,revenue streams and expenditure details."><%=summary.financeModel%></textarea>
          </div>
          <div class="form-group">
            <label for="fidea"><strong>WHAT IS THE FEASIBILITY OF THE IDEA?</strong>[250 words]</label>
            <textarea class="form-control" name="feasibility" id="fidea" rows="3" placeholder="Is the proposed idea doable considering the social,economic and regional constraints?"><%=summary.feasibility%></textarea>
          </div>
          <div class="form-group">
            <label for="bepoint"><strong>WHAT IS THE ESTIMATED TIME OF BREAK-EVEN POINT</strong></label>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-info">
                  The break-even point (BEP) or break-even level represents the sales amount that is required to cover
                  total costs, consisting of both fixed and variable costs to the company. Total profit at the
                  break-even
                  point is zero
                </p>
              </div>
            </div>
            <textarea class="form-control" id="bepoint" rows="3" name="breakEvenPoint"><%=summary.breakEvenPoint%></textarea>
          </div>
          <div class="form-group">
            <label for="kiproperty"><strong>WHAT KEY INTELLECTUAL PROPERTY DOES THE COMPANY HAVE?</strong>[250 words]</label>
            <textarea class="form-control" id="kiproperty" rows="3" placeholder="patents,patents pending,copywrights,trade secrets,trademarks,domain names if any?" name="intellectualProperty"><%=summary.intellectualProperty%></textarea>
          </div>
          <% if(submitted===false){ %> 
            <button type="button" class="btn btn-success" onclick="saveQuestionnaire('bussiness')">Save</button>
            <button type="button" class="btn btn-danger" onclick="submitQuestionnaire()">Submit</button>
          <%} else {%>
            <div class="alert alert-primary text-center"><p class="text-info text-center">Questionnaire has been submitted! It cannot be changed!</p></div>
          <% } %>
      </div>
    </div>
  </div>
</div>


