<div class="container">
  <p>
    <h1 class="nametitle"><strong>Operational
      </strong></h1>
  </p>
  <%if(submitted){%>
    <div class="alert alert-primary text-center"><p class="text-info text-center">Questionnaire has been submitted! It cannot be changed!</p></div>
  <% } %>
  <div class="row">
      <div class="col-12">
          <div class="row mt-4">
            <ul class="nav nav-tabs col-sm-12" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#eligibilityTabContent" role="tab"
                  aria-selected="true">Eligibility</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#rulesTabContent" role="tab" aria-controls="profile"
                  aria-selected="false">Rules &amp; Regulations</a>
              </li>
            </ul>
            <div class="tab-content col-sm-12" id="myTabContent">
              <div class="tab-pane fade show active" id="eligibilityTabContent" role="tabpanel" aria-labelledby="home-tab">
    
                <!-- Operations Eligibility -->
                <ul id="operationsEli">
                  <li>The startup shouldn’t be functional for more than 3 years.</li>
                  <li>Participant teams should be in the revenue generating phase to register under the Operational
                    section
                    of Presente Vous. </li>
                  <li>The annual revenue should be less than 1 crore.</li>
                  <li>Participant age must not cross 30 years as of 7th February, 2019.</li>
                  <li>Participant teams should have a Minimum Viable Product.</li>
                  <li>Startups older than 3 years from the date of registration (of Presente Vous) will not be accepted.</li>
                </ul>
              </div>
    
              <div class="tab-pane fade" id="rulesTabContent" role="operationRules" aria-labelledby="profile-tab">
                <!-- Rules and Regulations are same for both -->
                <ul>
                    <li class="text-danger">The shortlisted teans would have to oay the fee amount (2000 INR) for pitching their startups in front of the investors</li>
                  <li>Each team should consist of 1-4 members, with one member as the Team Leader.</li>
                  <li>There can be multiple teams from the same college.</li>
                  <li>A participant cannot be a member of more than one team. In case of such a discrepancy, both the
                    teams
                    will be disqualified.</li>
                  <li>Ideas submitted as part of a team’s business venture must represent the original work of the team
                    members.</li>
                  <li>Teams must answer each question in the questionnaire in detail in order to be considered for
                    evaluation.</li>
                  <li>Entries submitted after the deadline will not be considered. The name given to the idea/entry
                    cannot
                    be changed post submission.</li>
                  <li>The team members are required to carry some form of Identification.</li>
                  <li>The e-mail id and phone number used for registration will be used as the medium of contact
                    throughout
                    the competition.</li>
                  <li>Teams must comply with the judging criteria, and the final decision of the Judges.</li>
                  <li>Rights to all the final decisions related to the competition remains with VIT Chennai.</li>
                  <li>Any misconduct during the course of the competition would lead to disqualification of the team.</li>
    
                </ul>
              </div>
            </div>
          </div>
        </div>
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="productname"><strong>STARTUP/PRODUCT NAME</strong></label>
          <textarea class="form-control" id="productname" rows="3"><%=summary.name%></textarea>
        </div>
        <div class="form-group">
          <label for="functionality"><strong>Functionality</strong></label>
          <input class="form-control" id="functionality" rows="3" placeholder="Describe your product/service in a clear and crisp way (100 words)" value="<%=summary.functionality%>">
        </div>
        <div class="form-group">
          <label for="currentmarketcompetition"><strong>Current Market Competition</strong></label>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-info">
                What is the market size? Explain your business’s competitive positioning in market. Who are your
                current and likely competitors? (India/global) Compared to your competition, how do you compete with
                respect to price, features, and performance? (250 words)
              </p>
            </div>
          </div>
          <textarea class="form-control" id="currentmarketcompetition" rows="3"><%=summary.competition%></textarea>
        </div>
        <div class="form-group">
          <label for="iproperty"><strong>Intellectual Property</strong></label>
          <textarea class="form-control" id="iproperty" rows="3" placeholder="What key intellectual property does the company have (govt permissions, real state, patents, patents pending, copyrights etc ? "><%=summary.intellectualProperty%></textarea>
        </div>
        <div class="form-group">
          <label for="usp"><strong>Uniques selling Preposition/ Market Potential</strong></label>
          <textarea class="form-control" id="usp" rows="3" placeholder="Talk about the uniqueness your of product/service. Is any similar product/service working in the same domain as of yours? (150 words) "><%=summary.sellingProp%></textarea>
        </div>
        <div class="form-group">
          <label for="domain"><strong>What domain your product/service is centering?</strong></label>
          <input class="form-control" id="domain" rows="3" placeholder="Education, Livelihoods, Social welfare, Public Health, Sustainability, Policy and Governance (or), others (150 words)  " value="<%=summary.domain%>">
        </div>
        <div class="form-group">
          <label for="fpotential"><strong>Financial Potential</strong></label>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-info">
                What are your revenue streams? Aka how do you make money? Also add the profitability till today from
                the time you started functioning. What early traction has the company gotten (sales, traffic to the
                company’s website, app downloads, etc., as relevant)? How scalable is your business? What is the role
                of corporates and other bodies(govt.) in providing financial help.
              </p>
            </div>
          </div>
          <textarea class="form-control" id="fpotential" rows="3"><%=summary.financialPotential%></textarea>
        </div>

        <div class="form-group">
          <label for="ssa"><strong>Sustainability/Social Acceptance</strong></label>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-info">
                What is the life expectancy of your product/service? What are the risks involved and scalability you
                see coming towards your business? Will it be required in future or change according to times?Will
                acceptance be an issue or people will adapt to it?(100 words)
              </p>
            </div>
          </div>
          <textarea class="form-control" id="ssa" rows="3"><%=summary.sustainability%></textarea>
        </div>

        <div class="form-group">
          <label for="cost"><strong>Cost Of Customer Acquisition </strong></label>
          <input class="form-control" id="cost" rows="3" placeholder="What is the cost of customer acquisition? " value="<%=summary.cost%>">
        </div>

        <div class="form-group">
          <label for="cstructure"><strong>Capitalization Structure</strong></label>
          <textarea class="form-control" id="cstructure" rows="3" placeholder="How much equity and debt has the company raised; what is the capitalization structure? "><%=summary.capitalization%></textarea>
        </div>

        <% if(submitted===false){ %> 
          <button type="button" class="btn btn-success" onclick="saveQuestionnaire('operational')">Save</button>
          <button type="button" class="btn btn-danger" onclick="submitQuestionnaire()">Submit</button>
        <%}%>
      </form>
    </div>
  </div>
</div>