<div class="container">
  <p>
    <h1 class="nametitle"><strong>SOCIAL STARTUPS
      </strong></h1>
    <h3 class="nametitle3"><strong>IDEATION PHASE
      </strong></h3>
  </p>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <form id="category-radio">
          <p><strong>HOW WOULD YOU CATEGORIZE YOUR IDEA?</strong></p>
          <div class="form-group">
            <div class="form-radio-control">
              <input type="radio" name="categoryRadio" class="custom-radio-input" name="category" id="soriented" value="service-oriented">
              <label class="custom-control-label" for="soriented">Service Oriented</label>
            </div>
            <div class="form-radio-control">
              <input type="radio" class="custom-radio-input" name="categoryRadio" id="poriented" name="category" value="product-oriented">
              <label class="custom-control-label" for="poriented">Product Oriented</label>
            </div>
          </div>
          <div class="form-group">
            <label for="productname"><strong>STARTUP/PRODUCT NAME</strong></label>
            <textarea class="form-control" name="productname" id="productname" rows="3"><%=summary.name%></textarea>
          </div>
        </form>
        <div class="form-group">
          <label for="domain"><strong>WHICH DOMAIN DOES YOUR STARTUP FALL IN?</strong></label>
          <input class="form-control" name="domain" rows="3" id="domain" placeholder="Education, Livelihoods, Social welfare, Public Health, Sustainability, Policy and Governance" value="<%=summary.domain%>">
        </div>
        <div class="form-group">
          <label for="senterprise"><strong>DESCRIBE YOUR IDEA GIVING AN OVERVIEW OF YOUR SOCIAL ENTERPRISE ( 100 Words)</strong></label>
          <textarea class="
            form-control" id="senterprise" rows="3"><%=summary.socialEnt%></textarea>
        </div>
        <div class="form-group">
          <label for="simpact"><strong>WHAT IS THE SOCIAL IMPACT OF YOUR IDEA ?( 250 WORDS)</strong></label>
          <textarea class="form-control" id="simpact" rows="3" placeholder="This should clearly describe the beneficiaries of the idea proposed"><%=summary.socialImpact%></textarea>
        </div>
        <div class="form-group">
          <label for="fidea"><strong>WHAT IS THE FEASIBILITY OF THE IDEA ( 250 WORDS)
            </strong></label>
          <textarea class="form-control" id="fidea" rows="3" placeholder="Is the proposed idea doable considering the social, economic and regional constraints?"><%=summary.feasibility%></textarea>
        </div>
        <form class="form-group" id="category-social">
          <p><strong>HOW WOULD YOU CATEGORIZE YOUR SOCIAL ENTERPRISE?</strong></p>
          <div>
            <input type="radio" name="categoryProfit" class="radio-input" id="profitable" value="profitable">
            <label class="custom-control-label" for="dsegmentation">Profitable</label>
          </div>
          <div>
            <input type="radio" name="categoryProfit" class="radio-input" id="nprofitable" value="non-profitable">
            <label class="custom-control-label" for="bsegmentation">Non-Profitable</label>
          </div>
        </form>
        <div class="form-group">
          <p><strong>WHAT IS THE TYPE OF MARKET SEGMENTATION USED?</strong></p>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="segmentation" id="dsegmentation">
            <label class="custom-control-label" for="dsegmentation">Demographic Segmentation</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="segmentation" id="bsegmentation">
            <label class="custom-control-label" for="bsegmentation">Behavioral Segmentation</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="segmentation" id="psegmentation">
            <label class="custom-control-label" for="psegmentation">Psychographic Segmentation</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="segmentation" id="gsegmentation">
            <label class="custom-control-label" for="gsegmentation">Geographic Segmentation</label>
          </div>
        </div>

        <div class="form-group">
          <label for="fmodel"><strong>GIVE A FINANCIAL MODEL DESCRIPTIONOF YOUR STARTUP</strong></label>
          <textarea class="form-control" id="fmodel" name="financeModel" rows="3" placeholder="Describe your initial investment requirements, projected revenue, funding and expenditure details. Revenue streams if this is a profitable enterprise"><%=summary.financialModel%></textarea>
        </div>


        <div class="form-group">
          <label for="mcompetition"><strong>DESCRIBE YOUR MARKET COMPETITION</strong></label>
          <textarea class="form-control" name="competition" id="mcompetition" rows="3" placeholder="what is the size of the market,type of marketchosen and what is your startups' potential market share ?"><%=summary.competition%></textarea>
        </div>
        <div class="form-group">
          <label for="bepoint"><strong>WHAT IS THE ESTIMATED TIME OF BREAK-EVEN POINT</strong></label>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-info">
                The break-even point (BEP) or break-even level represents the sales amount that is required to cover
                total costs, consisting of both fixed and variable costs to the company. Total profit at the break-even
                point is zero
              </p>
            </div>
          </div>
          <textarea name="bepoint" class="form-control" id="bepoint" rows="3"><%=summary.breakEvenPoint%></textarea>
        </div>

        <button type="button" class="btn btn-success" onclick="saveQuestionnaire('social')">Save</button>
      </form>
    </div>
  </div>

</div>